<!-- <div class="onboarding-personal-detail">
    <div class="profile-states-wrapper gap-border">
        <ul class="profile-stages">
            <li class="active">
                <span class="indicator"></span>
                <label>Personal <br /> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Contact <br /> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Nominee <br /> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Bank <br /> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Address</label>
            </li>
        </ul>
    </div>
    <section class="onboarding-section">
        <h2 class="title">Personal Detail</h2>
        <form action="">
            <div class="form-group">
                <label for="name">Search Client</label>
                <input type="text" id="name" class="form-control" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label><br>
                <div class="radio-container">
                    <input type="radio" id="male" name="gender" value="Male" class="form-radio">
                    <label for="male">Male</label>
                </div>
                <div class="radio-container">
                    <input type="radio" id="female" name="gender" value="Female" class="form-radio">
                    <label for="female">Female</label>
                </div>
                <div class="radio-container">
                    <input type="radio" id="other" name="gender" value="Other" class="form-radio">
                    <label for="other">Other</label>
                </div>
            </div>
            <div class="form-group">
                <label for="wealth">Source of Wealth</label>
                <select name="wealth" id="wealth" class="form-control form-select">
              <option disabled="">Select Source of Wealth</option>
              <option value="Salary">Salary</option>
              <option value="Business Income">Business Income</option>
              <option value="Gift">Gift</option>
              <option value="Ancestral Property">Ancestral Property</option>
              <option value="Rental Income">Rental Income</option>
              <option value="Prize Money">Prize Money</option>
              <option value="Royalty">Royalty</option>
              <option value="Others">Others</option>
            </select>
            </div>
            <div class="form-group">
                <label for="occuaption">Occuaption</label>
                <select name="occuaption" id="occuaption" class="form-control form-select">
              <option disabled="">Select your occupation</option>
              <option value="Business">Business</option>
              <option value="Professional">Professional</option>
              <option value="Service">Service</option>
            </select>
            </div>
            <div class="form-group">
                <label for="birthplace">Place of Birth</label>
                <input type="text" id="birthplace" class="form-control" placeholder="Enter your place of birth">
            </div>
            <div class="form-group">
                <label for="sign">Signature</label>
                <input type="file" id="sign" class="form-control" placeholder="Upload Signature">
            </div>
            <small class="info-note">Sign on blank paper, click a photo and upload here. This signature is captured
            exclusively for BSE Star MF onboarding process.</small>
        </form>

    </section>
    <footer>
        <button class="btn btn secondary-btn">Back</button>
        <button class="btn btn primary-btn">Next</button>
    </footer>
</div> -->

<!-- <div class="onboarding-contact-details">
    <div class="profile-states-wrapper gap-border">
        <ul class="profile-stages">
            <li>
                <span class="indicator"></span>
                <label>Personal <br> Details</label>
            </li>
            <li class="active">
                <span class="indicator"></span>
                <label>Contact <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Nominee <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Bank <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Address</label>
            </li>
        </ul>
    </div>
    <section class="onboarding-section">

        <h2 class="title">Contact Details</h2>
        <form action="">
            <div class="form-group">
                <label for="client_mobile">Enter Client's Mobile Number</label>
                <input type="text" id="client_mobile" class="form-control" placeholder="Enter Client's Mobile Number">
            </div>
            <div class="form-group">
                <label for="client_email">Enter Client's Email ID</label>
                <input type="text" id="client_email" class="form-control" placeholder="Enter Client's Email ID">
            </div>
            <small class="info-note">You will receive the verification link on Email for email authentication.</small>
        </form>

    </section>
    <footer>
        <button class="btn btn secondary-btn">Back</button>
        <button class="btn btn primary-btn">Next</button>
    </footer>
</div> -->
<!-- <div class="otp-screen">
    <div class="profile-states-wrapper gap-border">
        <ul class="profile-stages">
            <li>
                <span class="indicator"></span>
                <label>Personal <br> Details</label>
            </li>
            <li class="active">
                <span class="indicator"></span>
                <label>Contact <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Nominee <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Bank <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Address</label>
            </li>
        </ul>
    </div>
    <section class="onboarding-section">
        <h2 class="title">Contact Details</h2>
        <h3>Enter the 4-digit code sent to you at <br> +91 9527xxxxxx57.</h3>
        <form action="">
            <div class="form-group">
                <ul class="otp-input">
                    <li><input type="text" class="form-control" id="otpNum1"></li>
                    <li><input type="text" class="form-control" id="otpNum2"></li>
                    <li><input type="text" class="form-control" id="otpNum3"></li>
                    <li><input type="text" class="form-control" id="otpNum4"></li>
                </ul>
            </div>
            <div class="question">
                <p>Didn't receive verification code?</p>
                <span class="link">Resend code</span>
            </div>
            <div class="expire">
                <small>OTP Expiring in 29 seconds</small>
            </div>
        </form>
    </section>
    <footer>
        <button class="btn btn secondary-btn">Back</button>
        <button class="btn btn primary-btn">Verify</button>
    </footer>
</div> -->
<!-- <div class="otp-resend">
    <div class="profile-states-wrapper gap-border">
        <ul class="profile-stages">
            <li>
                <span class="indicator"></span>
                <label>Personal <br> Details</label>
            </li>
            <li class="active">
                <span class="indicator"></span>
                <label>Contact <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Nominee <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Bank <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Address</label>
            </li>
        </ul>
    </div>
    <section class="onboarding-section">
        <div class="container">
            <h2 class="title">Contact Details</h2>
            <h3>Enter the 4-digit code sent to you at <br> +91 9527xxxxxx57.</h3>
            <form action="">
                <div class="form-group">
                    <ul class="otp-input">
                        <li><input type="text" class="form-control" id="otpNum1"></li>
                        <li><input type="text" class="form-control" id="otpNum2"></li>
                        <li><input type="text" class="form-control" id="otpNum3"></li>
                        <li><input type="text" class="form-control" id="otpNum4"></li>
                    </ul>
                </div>
                <div class="question">
                    <p>Didn't receive verification code?</p>
                    <span class="link">Resend code</span>
                </div>
                <div class="validator">
                    <small>Your OTP is incorrect!</small>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <button class="btn btn secondary-btn">Back</button>
        <button class="btn btn primary-btn">Verify</button>
    </footer>
</div> -->
<!-- <div class="nominee-details">
    <div class="profile-states-wrapper gap-border">
        <ul class="profile-stages">
            <li>
                <span class="indicator"></span>
                <label>Personal <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Contact <br> Details</label>
            </li>
            <li class="active">
                <span class="indicator"></span>
                <label>Nominee <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Bank <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Address</label>
            </li>
        </ul>
    </div>
    <section class="onboarding-section">
        <div class="container">
            <h2 class="title">Nominee Details</h2>
            <form action="">
                <div class="form-group">
                    <label for="first_nominee">First Nominee Name</label>
                    <input type="text" id="first_nominee" class="form-control" placeholder="Enter First Nominee Name">
                </div>
                <div class="form-group">
                    <label for="relationship">First Nominee Relationship</label>
                    <select name="relationship" id="relationship" class="form-control form-select">
              <option disabled="">Select Relationship</option>
              <option value="Son">Son</option>
              <option value="Wife">Wife</option>
              <option value="Husband">Husband</option>
            </select>
                </div>
                <div class="form-group">
                    <label for="nomineeAllocation">First Nominee % allocation</label>
                    <input type="text" id="nomineeAllocation" class="form-control" placeholder="Enter First Nominee % allocation">
                </div>
                <div class="form-group">
                    <label for="minor_check">Is the first nominee minor?</label><br>
                    <div class="radio-container">
                        <input type="radio" id="no" name="minor" value="No" class="form-radio">
                        <label for="no">No</label>
                    </div>
                    <div class="radio-container">
                        <input type="radio" id="yes" name="minor" value="Yes" class="form-radio">
                        <label for="yes">Yes</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nomineeDob">First Nominee's Date of Birth</label>
                    <input type="date" id="nomineeDob" class="form-control" placeholder="Enter First Nominee's Date of Birth">
                </div>
                <div class="form-group">
                    <label for="guardian">Guardian for First Nominee</label>
                    <input type="text" id="guardian" class="form-control" placeholder="Guardian for First Nominee">
                </div>
                <p class="link">+ Add Second Nominee</p>
            </form>
        </div>
    </section>
    <footer>
        <button class="btn btn secondary-btn">Back</button>
        <button class="btn btn primary-btn">Next</button>
    </footer>
</div> -->
<!-- <div class="bank-detail">
    <div class="profile-states-wrapper gap-border">
        <ul class="profile-stages">
            <li>
                <span class="indicator"></span>
                <label>Personal <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Contact <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Nominee <br> Details</label>
            </li>
            <li class="active">
                <span class="indicator"></span>
                <label>Bank <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Address</label>
            </li>
        </ul>
    </div>
    <section class="onboarding-section">
        <div class="container">
            <h2 class="title">Bank Detail</h2>
            <form action="">
                <div class="form-group">
                    <label for="ifsc">IFSC Code</label>
                    <input type="text" id="ifsc" class="form-control" placeholder="Enter IFSC Code">
                </div>
                <div class="form-group">
                    <label for="bank_name">Bank Name</label>
                    <input type="text" id="bank_name" class="form-control" placeholder="Enter Bank Name">
                </div>
                <div class="form-group">
                    <label for="branch_name">Branch</label>
                    <input type="text" id="branch_name" class="form-control" placeholder="Enter Branch Name">
                </div>
                <div class="form-group">
                    <label for="account_number">Account Number</label>
                    <input type="text" id="account_number" class="form-control" placeholder="Enter Account Number">
                </div>
                <div class="form-group">
                    <label for="repeat_account_number">Repeat Account Number</label>
                    <input type="text" id="account_number" class="form-control" placeholder="Repeat Account Number">
                </div>
                <div class="form-group">
                    <label for="cheque_copy">Cheque Copy</label>
                    <input type="file" id="cheque_copy" class="form-control" placeholder="Upload Cheque Copy">
                </div>
                <small class="info-note">Cheque copy is required for bank verification. File type should be .jpg and file
            should be less than 2MB</small>
            </form>
        </div>
    </section>
    <footer>
        <button class="btn btn secondary-btn">Back</button>
        <button class="btn btn primary-btn">Next</button>
    </footer>
</div> -->
<!-- <div class="address">

    <div class="profile-states-wrapper gap-border">
        <ul class="profile-stages">
            <li>
                <span class="indicator"></span>
                <label>Personal <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Contact <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Nominee <br> Details</label>
            </li>
            <li>
                <span class="indicator"></span>
                <label>Bank <br> Details</label>
            </li>
            <li class="active">
                <span class="indicator"></span>
                <label>Address</label>
            </li>
        </ul>
    </div>
    <section class="onboarding-section">
        <div class="container">
            <h2 class="title">Address</h2>
            <form action="">
                <div class="form-group">
                    <label for="address_one">Address Line 1</label>
                    <input type="text" id="address_one" class="form-control" placeholder="Enter your address">
                </div>
                <div class="form-group">
                    <label for="address_two">Address Line 2</label>
                    <input type="text" id="address_two" class="form-control" placeholder="Enter your address">
                </div>
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" id="pincode" class="form-control" placeholder="Enter Pincode">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control" placeholder="Enter City Name">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select name="state" id="state" class="form-control form-select">
              <option value="Maharashtra">Maharashtra</option>
              <option value="Delhi">Delhi</option>
              <option value="Punjab">Punjab</option>
            </select>
                </div>
                <div class="tc-accept">
                    <small>By proceeding, I agree to the <a href="T&amp;C" class="link">T&amp;C</a></small>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <button class="btn btn secondary-btn">Back</button>
        <button class="btn btn primary-btn">Submit</button>
    </footer>

</div> -->
<div class="success">

    <div class="success-popup">
        <img src="../../../assets/login-main.png" alt="Onboarding Completed Successfully">
        <p>Your Client's Onboarding has been completed</p>
        <button class="btn primary-btn block-btn">Done</button>
    </div>

</div>
