<!-- <div class="pan-verification">
    <section class="kyc">
        <div class="container">
            <h2 class="title">PAN Verification</h2>
            <form action="">
                <div class="form-group">
                    <label for="name">Enter Client's Name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pan">Enter Client's PAN Number</label>
                    <input type="text" id="pan" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Date of Birth</label>
                    <input type="date" id="dob" class="form-control">
                </div>
            </form>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Verify</button>
    </footer>
</div> -->

<!-- <div class="verified">
    <section class="kyc">
        <div class="container">
            <h2 class="title title2">KYC Verified <i class="far fa-check-circle verified"></i></h2>
            <p>For Investment in Mutual Fund, it is mandatory to have a verified KYC. GravyT uses ICICI Mutual Fund's API for online KYC process. You will be redirected to complete the KYC process..</p>

            <div class="complete-onboarding">
                <h3>Complete Investor's Onboarding</h3>
                <div class="complete-onboarding-box active">
                    <h4>Share App</h4>
                    <p>For Investment in Mutual Fund, it is mandatory to have a verified KYC. GravyT uses ICICI Mutual Fund's API for online KYC process.</p>
                </div>
                <div class="complete-onboarding-box">
                    <h4>Complete Onboarding</h4>
                    <p>For Investment in Mutual Fund, it is mandatory to have a verified KYC. GravyT uses ICICI Mutual Fund's API for online KYC process.</p>
                </div>
            </div>
        </div>
    </section>
</div> -->

<div class="not-verified">
    <section class="kyc">
        <div class="container">
            <h2 class="title title2">KYC Not Verified <i class="far fa-times-circle not-verified"></i></h2>
            <p>For Investment in Mutual Fund, it is mandatory to have a verified KYC. GravyT uses ICICI Mutual Fund's API for online KYC process. You will be redirected to complete the KYC process..</p>

            <div class="complete-onboarding">
                <h3>Complete investors KYC Verification</h3>
                <div class="complete-onboarding-box active">
                    <h4>Link Share</h4>
                    <p>For Investment in Mutual Fund, it is mandatory to have a verified KYC. GravyT uses ICICI Mutual Fund's API for online KYC process.</p>
                </div>
                <div class="complete-onboarding-box">
                    <h4>Share App</h4>
                    <p>For Investment in Mutual Fund, it is mandatory to have a verified KYC. GravyT uses ICICI Mutual Fund's API for online KYC process.</p>
                </div>
                <div class="complete-onboarding-box">
                    <h4>Complete KYC</h4>
                    <p>For Investment in Mutual Fund, it is mandatory to have a verified KYC. GravyT uses ICICI Mutual Fund's API for online KYC process.</p>
                </div>
            </div>
        </div>
    </section>
</div>
