<!-- <div class="login-container">
    <img src="../../assets/GravyT-logo.png" class="logo" alt="Logo">
    <div class="main">
        <span>Lorem</span>
        <h2>Ipsum</h2>


    </div>

    <footer>
        <div class="login-via otp-login">
            <img src="../../assets/mobile.png" alt="Mobile"> Sign in using mobile number
        </div>
        <p>Or</p>
        <div class="login-via google-login">
            <img src="../../assets/google.png" alt="Google"> Sign in using Google account
        </div>
        <small>By proceeding you agree to the <span>T&amp;C</span></small>
    </footer>
</div> -->


<!-- <div class="otp-login">
    <i class="fas fa-arrow-left back-btn"></i>
    <img src="assets/login-via-otp.png" alt="Login Via OTP">

    <div class="headings">
        <h3>Login via OTP</h3>
        <p>Please enter your mobile number to proceed</p>
    </div>
    <div class="form">
        <span>+91</span>
        <input type="number" class="form-control">
    </div>
    <div class="text-center"><button class="btn primary-btn">Send OTP</button></div>
    <p class="or">Or</p>
    <div class="login-via google-login"><img src="assets/google.png" alt="Google"> Sign in using Google account
    </div>
</div> -->


<!-- <div class="otp-enter">
    <i class="fas fa-arrow-left back-btn"></i>
    <img src="assets/otp.png" alt="Login Via OTP">

    <div class="headings">
        <h3>Enter the 4-digit code sent to you at <br>+91 XXXXXXXXX

        </h3>

    </div>
    <form class="form">

        <ul class="otp-input">
            <li><input type="number" maxlength="1"></li>
            <li><input type="number" maxlength="1"></li>
            <li><input type="number" maxlength="1"></li>
            <li><input type="number" maxlength="1"></li>
        </ul>
    </form>
    <div class="text-center"><button class="btn primary-btn">Verify</button></div>
    <p>Didn’t receive verification code?</p>
    <span>Resend Code</span>
    <p class="expire">OTP Expiring in 29 seconds</p>
</div> -->

<!-- <div class="personal-info">
    <img src="../../../../assets/personal-info.png" alt="">
    <h4>Personal Information</h4>
    <div class="form-content">
        <div class="form-details">
            <div class="form-group">
                <label for="">Phone Number</label>
                <input type="text" class="form-control" placeholder="+91 7895685495">
            </div>
            <div class="form-group">
                <label for="">Email ID</label>
                <input type="email" class="form-control" placeholder="amol@gmail.com">
            </div>
            <div class="form-group">
                <label for="">PAN Number</label>
                <input type="text" class="form-control" placeholder="Aditya">
            </div>
            <div class="form-group">
                <label for="">AADHAR NUMBER</label>
                <input type="text" class="form-control" placeholder="DD/MM/YY">
            </div>
        </div>
    </div>
</div>
<app-back-next-btn></app-back-next-btn> -->

<!-- <div class="personal-info2">
    <img src="../../../../assets/personal-info.png" alt="">
    <h4>Personal Information</h4>
    <div class="form-content">
        <div class="form-details">
            <div class="form-group">
                <label for="">Occupation</label>
                <input type="text" class="form-control" placeholder="Aditya">
            </div>
            <div class="form-group">
                <label for="">Experience</label>
                <input type="email" class="form-control" placeholder="Aditya">
            </div>
            <div class="form-group">
                <label for="">Working</label>
                <div class="radio-btn">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" checked>
                        <label for="radio-1" class="radio-label">Full Time</label>
                    </div>
                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio">
                        <label for="radio-2" class="radio-label">Part Time</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-back-next-btn></app-back-next-btn> -->


<!-- <div class="arn-holder">
    <img src="../../../../assets/personal-info.png" alt="">
    <h4>Personal Information</h4>
    <div class="form-content">
        <div class="form-details">
            <div class="form-group">
                <label for="">Are you an ARN Holder</label>
                <div class="radio-btn">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" checked>
                        <label for="radio-1" class="radio-label">Yes</label>
                    </div>
                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio">
                        <label for="radio-2" class="radio-label">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Enter your ARN Number</label>
                <input type="email" class="form-control" placeholder="Aditya">
            </div>
            <div class="form-group">
                <label for="">Upload Your ARN</label>
                <input type="email" class="form-control" placeholder="Aditya">
            </div>
        </div>
    </div>
</div>
<app-back-next-btn></app-back-next-btn> -->

<!-- <div class="arn-holder2">
    <img src="../../../../assets/personal-info.png" alt="">
    <h4>Personal Information</h4>
    <div class="form-content">
        <div class="form-details">
            <div class="form-group">
                <label for="">Are you an ARN Holder</label>
                <div class="radio-btn">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio">
                        <label for="radio-1" class="radio-label">Yes</label>
                    </div>
                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio" checked>
                        <label for="radio-2" class="radio-label">No</label>
                    </div>
                </div>
            </div>
            <p class="note"><span>Update in 3 months...</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem provident atque cumque ut dolorem molestiae illum saepe optio corporis. Molestiae! </p>
        </div>
    </div>
</div>
<app-back-next-btn></app-back-next-btn> -->


<div class="upload-document">
    <img src="../../../../assets/personal-info.png" alt="">
    <h4>Uplaod Documents</h4>
    <div class="form-content">
        <div class="form-details">
            <div class="form-group">
                <label for="">PAN Card</label>
                <input type="text" class="form-control" placeholder="John.jpg">
            </div>
            <div class="form-group">
                <label for="">AADHAR Card</label>
                <input type="text" class="form-control" placeholder="John.jpg">
            </div>
            <div class="form-group">
                <label for="">Passport Photo</label>
                <input type="text" class="form-control" placeholder="John.jpg">
            </div>
            <div class="form-group">
                <label for="">Cancelled Cheque</label>
                <input type="text" class="form-control" placeholder="John.jpg">
            </div>
        </div>
    </div>
</div>
<app-next-btn></app-next-btn>

<!-- <div class="bank-details">
  <img src="../../../../assets/personal-info.png" alt="">
  <h4>Personal Information</h4>
  <div class="form-content">
      <div class="form-details">
          <div class="form-group">
              <label for="">IFSC Code</label>
              <input type="text" class="form-control" placeholder="Enter IFSC Code">
          </div>
          <div class="form-group">
              <label for="">Bank Name</label>
              <input type="text" class="form-control" placeholder="Enter Bank Name">
          </div>
          <div class="form-group">
              <label for="">Branch</label>
              <input type="text" class="form-control" placeholder="Enter Bank Name">
          </div>
          <div class="form-group">
              <label for="">Account Number</label>
              <input type="text" class="form-control" placeholder="xxxxxxxxxxxxxxxx">
          </div>
          <div class="form-group">
              <label for="">Repeated Account Number</label>
              <input type="text" class="form-control" placeholder="xxxxxxxxxxxxxxxx">
          </div>
      </div>
  </div>
</div>
<app-next-btn></app-next-btn> -->


<!-- <div class="payment">
  <div class="question">
      <i class="fas fa-question-circle"></i>
  </div>
  <div class="content">
      <i class="fas fa-sort-up"></i>
      <p>Call <span class="right-con">:9174740875</span></p>
      <p>Email <span>:info@gravyt.in</span></p>
  </div>
  <img src="../../../../assets/personal-info.png" alt="">
  <h4>Payment</h4>
  <p class="note">Cheque copy is required for bank verification. <br> Fill type should be .jpg and file should be less than 2MB</p>
  <div class="form-content">
      <div class="form-details">
          <div class="form-group">
              <label for=""> <img src="../../../../assets/Path 275.svg"> Amount</label>
              <input type="text" class="form-control border-bottom dark-text" placeholder="" value="$ 40.00">
          </div>
          <div class="form-group">
              <label for=""> <img src="../../../../assets/Path 10789.svg" alt=""> Payment Method</label>
              <input type="text" class="form-control border-bottom dark-text" placeholder="Enter Bank Name" value="NetBanking">
          </div>
          <div class="form-group">

              <label for="">Have a Promotional Code</label>
              <div class="radio-btn">
                  <div class="radio">
                      <input id="radio-1" name="radio" type="radio" checked>
                      <label for="radio-1" class="radio-label">Yes</label>
                  </div>
                  <div class="radio">
                      <input id="radio-2" name="radio" type="radio">
                      <label for="radio-2" class="radio-label">No</label>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label for="">Enter the promtional code (Optional)</label>
              <input type="text" class="form-control" placeholder="John.jpg">
          </div>

      </div>
  </div>
</div>
<app-next-btn></app-next-btn> -->




<!-- <div class="payment">

  <img src="../../../../assets/personal-info.png" alt="">
  <h4>Payment</h4>
  <p class="note">Cheque copy is required for bank verification. <br> Fill type should be .jpg and file should be less than 2MB</p>
  <div class="form-content">
      <div class="form-details">
          <div class="form-group">
              <label for=""> <img src="../../../../assets/Path 275.svg"> Amount</label>
              <input type="text" class="form-control border-bottom dark-text" placeholder="" value="$ 0.00">
          </div>
          <div class="form-group">
              <label for=""> <img src="../../../../assets/Path 10789.svg" alt=""> Payment Method</label>
              <input type="text" class="form-control border-bottom dark-text" placeholder="Enter Bank Name" value="NetBanking">
          </div>

          <div class="form-group">
              <label for="">Promtional code</label>
              <div class="tick">
                  <input type="text" class="form-control" value="AAZZBBZZJJZZ"> <span><i class="far fa-check-circle"></i> Applied</span>
              </div>
          </div>

      </div>
  </div>
</div>
<app-next-btn></app-next-btn> -->