<!-- <div class="client">
    <app-back-btn>
        <span class="title">Select Client</span>
    </app-back-btn>
    <div class="main">
        <h4>Select the Client</h4>
        <p>Mind well! Higher the risk, higher the returns</p>
        <span>You can always change this later </span>
    </div>
    <div class="search-client">
        <div class="client-searchBox">
            <input type="text" placeholder="Search Client">
            <img src="../../../assets/search-icon.png" alt="">
        </div>
        <div class="search-item">
            <div class="box">
                <div class="box-name">
                    A
                </div>
                <span>Aditya Deskmukh</span>
            </div>
            <div class="box">
                <div class="box-name">
                    A
                </div>
                <span>Aditya Deskmukh</span>
            </div>
            <div class="box">
                <div class="box-name">
                    A
                </div>
                <span>Aditya Deskmukh</span>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="investment-profile">

    <app-back-btn>
        <span class="title">Select Client</span>
    </app-back-btn>
    <div class="main">
        <h4>Help us choose <br> Best Investments for you</h4>
        <p>Mind well! Higher the risk, higher the returns</p>
        <span>You can always change this later </span>
    </div>
    <div class="select-items">
        <div class="select-item">
            <div class="text">
                <label for="check1">
          <p>Defensive</p>
          <span>Very Low Risk & Very Low Return</span>
        </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check1">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check2">
          <p>Conservative</p>
          <span>Low Risk & Low Return</span>
        </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check2">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check3">
          <p>Moderate</p>
          <span>Moderate Risk & Moderate Return</span>
        </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check3">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check4">
          <p>Growth</p>
          <span>High Risk & High Return</span>
        </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check4">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check5">
          <p>Aggressive</p>
          <span>Very High Risk & Very High Returns</span>
        </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check5">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-next-btn class="bottom"></app-next-btn>


</div> -->
<!-- <div class="investment-profile2">

    <app-back-btn>
        <span class="title">Investment Profile</span>
    </app-back-btn>
    <div class="main">

        <span>Growth</span>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd</p>
    </div>

    <app-next-btn class="bottom"></app-next-btn>


</div> -->
<!-- <div class="platter-aditya">

    <app-back-btn>
        <span class="title">Platter For Aditya</span>
    </app-back-btn>
    <div class="main">
        <p>Your Investment Profile is <span class="green"> Growth.</span> Platters for you are hand-picked based on your investment profile. Investing with an objective yield better results.</p>

    </div>

    <div class="content">
        <div class="menus">
            <div class="box">
                1 M
            </div>
            <div class="box">3M</div>
            <div class="box">6M</div>
            <div class="box">1Y</div>
            <div class="box">3Y</div>
            <div class="box">5Y</div>
            <div class="box">MAX</div>
        </div>
        <div class="boosters">
            <div class="booster-box">
                <div class="icon">
                    <img src="../../../assets/popular-platter.svg" alt="">
                </div>
                <div class="platter-content">
                    <span>Booster</span>
                    <p>Ideal for high risk takers desiring aggressive returns</p>
                </div>
                <div class="platter-info">
                    <div class="platter-info-box">
                        <span class="label">Returns</span>
                        <span class="value" style="color:green;">18.56 %</span>
                    </div>
                    <div class="platter-info-box">
                        <span class="label">Ideal Duration</span>
                        <span class="value">7+ Years</span>
                    </div>
                    <div class="platter-info-box">
                        <span class="label">Min. SIP Amount</span>
                        <span class="value">$ 1500.00</span>
                    </div>
                    <div class="platter-info-box">
                        <span class="label">Min. One time Amount</span>
                        <span class="value">$ 1500.00</span>
                    </div>
                </div>
            </div>
            <div class="booster-box">
                <div class="icon">
                    <img src="../../../assets/popular-platter.svg" alt="">
                </div>
                <div class="platter-content">
                    <span>Booster</span>
                    <p>Ideal for high risk takers desiring aggressive returns</p>
                </div>
                <div class="platter-info">
                    <div class="platter-info-box">
                        <span class="label">Returns</span>
                        <span class="value" style="color:green;">18.56 %</span>
                    </div>
                    <div class="platter-info-box">
                        <span class="label">Ideal Duration</span>
                        <span class="value">7+ Years</span>
                    </div>
                    <div class="platter-info-box">
                        <span class="label">Min. SIP Amount</span>
                        <span class="value">$ 1500.00</span>
                    </div>
                    <div class="platter-info-box">
                        <span class="label">Min. One time Amount</span>
                        <span class="value">$ 1500.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-short-by></app-short-by>


</div> -->

<!-- <div class="wrapper">
    <div class="sortBy">
        <div class="sortHeader">
            <strong>Sort by</strong>
            <span>Close</span>
        </div>
        <div class="sortContent">
            <div class="selectContentBox">
                <div class="option">Popularity</div>
                <span class="active"></span>
            </div>
            <div class="selectContentBox">
                <div class="option">What's New</div>
                <span></span>
            </div>
            <div class="selectContentBox">
                <div class="option">Recently Rebalanced</div>
                <span></span>
            </div>
            <div class="sortBox">
                <small>Min. SIP Amount</small>
                <div class="sortField">
                    <input type="radio" id="sip-high-low" name="sort" value="HighLow" checked />
                    <label for="sip-high-low">High - Low</label>
                    <input type="radio" id="sip-low-high" name="sort" value="LowHigh" />
                    <label for="sip-low-high">Low - High</label>
                </div>
            </div>
            <div class="sortBox">
                <small>Min. One Time Amount</small>
                <div class="sortField">
                    <input type="radio" id="ota-high-low" name="sort" value="HighLow" />
                    <label for="ota-high-low">High - Low</label>
                    <input type="radio" id="ota-low-high" name="sort" value="LowHigh" />
                    <label for="ota-low-high">Low - High</label>
                </div>
            </div>
            <div class="sortBox">
                <small>Returns</small>
                <div class="sortField">
                    <input type="radio" id="returns-high-low" name="sort" value="HighLow" />
                    <label for="returns-high-low">High - Low</label>
                    <input type="radio" id="returns-low-high" name="sort" value="LowHigh" />
                    <label for="returns-low-high">Low - High</label>
                </div>
            </div>
        </div>
        <div class="sortFooter">
            <button class="btn cancel-btn">Cancel</button>
            <button class="btn primary-btn">Apply</button>
        </div>
    </div>
</div> -->

<!-- <div class="select-investment-profile">

    <app-back-btn>
        <span class="title">Select Client</span>
    </app-back-btn>
    <div class="main">
        <h4>Help us choose <br> Best Investments for you</h4>
        <p>Mind well! Higher the risk, higher the returns</p>
        <span>You can always change this later </span>
        <button class="risk-btn">Calculate your Risk Profile</button>
    </div>
    <div class="select-items">
        <div class="select-item">
            <div class="text">
                <label for="check1">
        <p>Defensive</p>
        <span>Very Low Risk & Very Low Return</span>
      </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check1">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check2">
        <p>Conservative</p>
        <span>Low Risk & Low Return</span>
      </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check2">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check3">
        <p>Moderate</p>
        <span>Moderate Risk & Moderate Return</span>
      </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check3">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check4">
        <p>Growth</p>
        <span>High Risk & High Return</span>
      </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check4">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-item">
            <div class="text">
                <label for="check5">
        <p>Aggressive</p>
        <span>Very High Risk & Very High Returns</span>
      </label>
            </div>
            <div class="check">
                <input type="checkbox" id="check5">
                <div class="checkbox">

                    <div class="tick">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-next-btn class="bottom"></app-next-btn>


</div> -->

<!-- <div class="select-investment-profile-qna">
    <app-back-btn>
        <span class="title">Select Investment Profile</span>
    </app-back-btn>
    <div class="qna">
        <span>
      Question 1/7
    </span>
        <h2>What is your current age?</h2>
        <div class="options">
            <span>Less than 45</span>
            <span>45- 55</span>
            <span>56- 65</span>
            <span>66- 75</span>
            <span>Above 75</span>
        </div>
    </div>
    <app-next-btn></app-next-btn>
</div> -->

<!-- <div class="select-investment-profile-qna2">
    <app-back-btn>
        <span class="title">Select Investment Profile</span>
    </app-back-btn>
    <div class="qna">
        <span>
    Question 1/7
  </span>
        <h2>Higher the Risk - Higher the returns. Lower the Risk - Lower the Returns. Choose your portfolio.</h2>
        <div class="options">
            <span>Very High Risk and Very High Returns</span>
            <span>High Risk and High Returns</span>
            <span>Moderate Risk and Moderate Returns</span>
            <span>Low Risk and Low Returns</span>
            <span>Very Low Risk and Very Low Returns</span>
        </div>
    </div>
    <app-submit-btn></app-submit-btn>
</div> -->

<div class="complete">
    <app-back-btn>
        <span class="title">Select Investment Profile</span>
    </app-back-btn>
    <div class="complete-box">
        <div class="box">
            <h3>Completed!</h3>
            <span>Your Risk Priofile is</span>
            <h2>Aggressive</h2>
            <button>Done</button>
        </div>
    </div>

</div>
