<!-- <div class="transaction-page-one">
    <section class="transaction">
        <div class="transaction-header gap-border-1">
            <span class="small-title">Client Name</span>
            <div class="header-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="">
                </div>
                <div class="content">
                    <span>Amol Impal</span>
                    <small>xxxx xxxx xxxx PAN</small>
                </div>
            </div>
        </div>
        <div class="transaction-content">
            <span class="small-title">Make payment for -</span>
            <div class="scheme-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="Aadity Birla Sun Life Mutual Fund">
                </div>
                <span class="scheme-title">ICICI Prudential Value Discovery Fund Growth</span>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 275.svg" alt="Amount">
                    </div>
                    <div class="content">
                        <small>Enter Amount</small>
                        <div class="amount-box">
                            <div class="amount">
                                <i class="fas fa-rupee-sign"></i>
                                <input type="text" class="form-control" placeholder="" value="40.00">
                            </div>
                            <small>Min Amount : <strong><i class="fas fa-rupee-sign"></i> 1000</strong></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/bank-building.svg" alt="Bank Details">
                    </div>
                    <div class="content">
                        <small>Bank deatils</small>
                        <span>Punjab National Bank
              <small>XXXXXXXXX9566</small>
            </span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 10789.svg" alt="Pyament Method">
                    </div>
                    <div class="content">
                        <small>Select Payment Method</small>
                        <ul class="select-list">
                            <li>
                                <span>Share Link</span>
                                <small>Link will be shared with the client through Email and Text Message</small>
                            </li>
                            <li class="active">
                                <span>Share Mobile App link</span>
                                <small>Link will be shared to client on mobile app.</small>
                            </li>
                            <li>
                                <span>Submit Cheque</span>
                                <small>Take the cheque from client and submit in the Karvy Office</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Next</button>
    </footer>
</div> -->

<!-- <div class="transaction-page-two">
    <section class="transaction">
        <div class="transaction-header gap-border-1">
            <span class="small-title">Client Name</span>
            <div class="header-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="">
                </div>
                <div class="content">
                    <span>Amol Impal</span>
                    <small>xxxx xxxx xxxx PAN</small>
                </div>
            </div>
        </div>
        <div class="transaction-content">
            <span class="small-title">Make payment for -</span>
            <div class="scheme-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="Aadity Birla Sun Life Mutual Fund">
                </div>
                <span class="scheme-title">ICICI Prudential Value Discovery Fund Growth</span>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 275.svg" alt="Amount">
                    </div>
                    <div class="content">
                        <small>Enter Amount</small>
                        <div class="amount-box">
                            <div class="amount">
                                <i class="fas fa-rupee-sign"></i>
                                <input type="text" class="form-control" placeholder="" value="40.00">
                            </div>
                            <small>Min Amount : <strong><i class="fas fa-rupee-sign"></i> 1000</strong></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/bank-building.svg" alt="Bank Details">
                    </div>
                    <div class="content">
                        <small>Bank deatils</small>
                        <span>Punjab National Bank
              <small>XXXXXXXXX9566</small>
            </span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 10789.svg" alt="Pyament Method">
                    </div>
                    <div class="content">
                        <small>Select Payment Method</small>
                        <ul class="select-list">
                            <li>
                                <span>Share Link</span>
                                <small>Link will be shared with the client through Email and Text Message</small>
                            </li>
                            <li class="active">
                                <span>Share Mobile App link</span>
                                <small>Link will be shared to client on mobile app.</small>
                            </li>
                            <li>
                                <span>Submit Cheque</span>
                                <small>Take the cheque from client and submit in the Karvy Office</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Make Payment</button>
    </footer>
</div> -->

<!-- <div class="transaction-page-three">
    <section class="transaction">
        <div class="transaction-header gap-border-1">
            <span class="small-title">Client Name</span>
            <div class="header-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="">
                </div>
                <div class="content">
                    <span>Amol Impal</span>
                    <small>xxxx xxxx xxxx PAN</small>
                </div>
            </div>
        </div>
        <div class="transaction-content">
            <span class="small-title">Cheque Order for-</span>
            <div class="scheme-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="Aadity Birla Sun Life Mutual Fund">
                </div>
                <span class="scheme-title">ICICI Prudential Value Discovery Fund Growth</span>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 275.svg" alt="Amount">
                    </div>
                    <div class="content">
                        <small>Order Number</small>
                        <span>123123122</span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/bank-building.svg" alt="Bank Details">
                    </div>
                    <div class="content">
                        <small>Bank deatils</small>
                        <span>Punjab National Bank
              <small>XXXXXXXXX9566</small>
            </span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="form-group">
                        <label for="">Upload Cheque Copy</label>
                        <input type="file" class="form-control">
                    </div>
                </div>
                <div class="transaction-info">
                    <span>Submit the cheque in Karvy in the following format</span>
                    <ul>
                        <li><span>Name on Cheque </span> <strong>: Indian Clearing Corporation Ltd</strong></li>
                        <li><span>Order Number </span> <strong>: 1231231231</strong></li>
                        <li><span>Broker Code </span> <strong>: 1232131</strong></li>
                    </ul>
                    <div class="cheque-preview-box">
                        <span>Cheque copy GIF</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Done</button>
    </footer>
</div> -->

<!-- <div class="transaction-page-four">
    <section class="transaction">
        <div class="transaction-header gap-border-1">
            <span class="small-title">Client Name</span>
            <div class="header-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="">
                </div>
                <div class="content">
                    <span>Amol Impal</span>
                    <small>xxxx xxxx xxxx PAN</small>
                </div>
            </div>
        </div>
        <div class="transaction-content">
            <span class="small-title">Make payment for -</span>
            <div class="scheme-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="Aadity Birla Sun Life Mutual Fund">
                </div>
                <span class="scheme-title">ICICI Prudential Value Discovery Fund Growth</span>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 275.svg" alt="Amount">
                    </div>
                    <div class="content">
                        <small>Enter Amount</small>
                        <div class="amount-box">
                            <div class="amount">
                                <i class="fas fa-rupee-sign"></i>
                                <input type="text" class="form-control" placeholder="" value="40.00">
                            </div>
                            <small>Min Amount : <strong><i class="fas fa-rupee-sign"></i> 1000</strong></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/bank-building.svg" alt="Bank Details">
                    </div>
                    <div class="content">
                        <small>Bank deatils</small>
                        <span>Punjab National Bank
              <small>XXXXXXXXX9566</small>
            </span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box border-bottom">
                    <div class="icon">
                        <img src="../../../assets/calendar.svg" alt="SIP Date">
                    </div>
                    <div class="content">
                        <small>SIP Date</small>
                        <div class="form-group form-group2">
                            <select name="" id="" class="form-control form-select">
                <option value="1st of the month">1st of the month</option>
                <option value="1st of the month">1st of the month</option>
                <option value="1st of the month">1st of the month</option>
              </select>
                        </div>
                    </div>
                </div>
                <div class="transaction-box-footer m-t-8">
                    <div class="left">
                        <small>1st SIP Payment</small>
                        <span>Today</span>
                    </div>
                    <div class="right">
                        <small>Next SIP Payment</small>
                        <span>01/05/2021</span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 10789.svg" alt="Pyament Method">
                    </div>
                    <div class="content">
                        <small>Select Payment Method</small>
                        <ul class="select-list">
                            <li>
                                <span>Share Link</span>
                                <small>Link will be shared with the client through Email and Text Message</small>
                            </li>
                            <li class="active">
                                <span>Share Mobile App link</span>
                                <small>Link will be shared to client on mobile app.</small>
                            </li>
                            <li>
                                <span>Submit Cheque</span>
                                <small>Take the cheque from client and submit in the Karvy Office</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Next</button>
    </footer>
</div> -->

<!-- <div class="transaction-page-five">
    <section class="transaction">
        <div class="transaction-header gap-border-1">
            <span class="small-title">Client Name</span>
            <div class="header-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="">
                </div>
                <div class="content">
                    <span>Amol Impal</span>
                    <small>xxxx xxxx xxxx PAN</small>
                </div>
            </div>
        </div>
        <div class="transaction-content">
            <span class="small-title">Start Auto Debit for -</span>
            <div class="scheme-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="Aadity Birla Sun Life Mutual Fund">
                </div>
                <span class="scheme-title">ICICI Prudential Value Discovery Fund Growth</span>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 275.svg" alt="Amount">
                    </div>
                    <div class="content">
                        <small>Enter Amount</small>
                        <div class="amount-box">
                            <div class="amount">
                                <i class="fas fa-rupee-sign"></i>
                                <input type="text" class="form-control" placeholder="" value="40.00">
                            </div>
                            <small>Min Amount : <strong><i class="fas fa-rupee-sign"></i> 1000</strong></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/bank-building.svg" alt="Bank Details">
                    </div>
                    <div class="content">
                        <small>Bank deatils</small>
                        <span>Punjab National Bank
              <small>XXXXXXXXX9566</small>
            </span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box border-bottom">
                    <div class="icon">
                        <img src="../../../assets/calendar.svg" alt="SIP Date">
                    </div>
                    <div class="content">
                        <small>SIP Date</small>
                        <div class="form-group form-group2">
                            <select name="" id="" class="form-control form-select">
                <option value="1st of the month">1st of the month</option>
                <option value="1st of the month">1st of the month</option>
                <option value="1st of the month">1st of the month</option>
              </select>
                        </div>
                    </div>
                </div>
                <div class="transaction-box-footer m-t-8">
                    <div class="left">
                        <small>1st SIP Payment</small>
                        <span>Today</span>
                    </div>
                    <div class="right">
                        <small>Next SIP Payment</small>
                        <span>01/05/2021</span>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/Path 10789.svg" alt="Pyament Method">
                    </div>
                    <div class="content">
                        <small>Select Payment Method</small>
                        <ul class="select-list">
                            <li>
                                <span>Share Link</span>
                                <small>Link will be shared with the client through Email and Text Message</small>
                            </li>
                            <li class="active">
                                <span>Share Mobile App link</span>
                                <small>Link will be shared to client on mobile app.</small>
                            </li>
                            <li>
                                <span>Submit Cheque</span>
                                <small>Take the cheque from client and submit in the Karvy Office</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Next</button>
    </footer>
</div> -->

<!-- <div class="transaction-page-six">
    <section class="transaction">
        <div class="transaction-header gap-border-1">
            <span class="small-title">Client Name</span>
            <div class="header-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="">
                </div>
                <div class="content">
                    <span>Amol Impal</span>
                    <small>xxxx xxxx xxxx PAN</small>
                </div>
            </div>
        </div>
        <div class="transaction-content">
            <div class="scheme-box">
                <div class="img-container">
                    <img src="https://content3.jdmagicbox.com/comp/pune/s7/020pxx20.xx20.190710163026.s2s7/catalogue/aditya-birla-sun-life-insurance-co-ltd-sangam-bridge-pune-life-insurance-agents-lic-kcxvxugb5w.jpg?clr=662900" alt="Aadity Birla Sun Life Mutual Fund">
                </div>
                <span class="scheme-title">ICICI Prudential Value Discovery Fund Growth</span>
            </div>
            <div class="transaction-box-container p-t-0">
                <div class="withdrawl-info-box">
                    <div class="withdrawl-info">
                        <small>Current Valuation</small>
                        <span><i class="fas fa-rupee-sign"></i> 25,000.00</span>
                    </div>
                    <div class="withdrawl-info-container">
                        <div class="withdrawl-info">
                            <small>Total units</small>
                            <span>100.656</span>
                        </div>
                        <div class="withdrawl-info">
                            <small>Redeemable Units</small>
                            <span>54.566</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box border-bottom">
                    <div class="icon">
                        <img src="../../../assets/Path 275.svg" alt="Amount">
                    </div>
                    <div class="content">
                        <small>Enter Redemption Amount</small>
                        <div class="amount-box">
                            <div class="amount">
                                <i class="fas fa-rupee-sign"></i>
                                <input type="text" class="form-control" placeholder="" value="40.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="transaction-box-footer m-t-8">
                    <div class="left">
                        <div class="checkbox-group">
                            <input type="checkbox" id="full-amount">
                            <label for="full-amount"> Redeem Full Amount</label>
                        </div>
                    </div>
                    <div class="right">
                        <small>Min redemption amount - $ 1000.00</small>
                    </div>
                </div>
            </div>
            <div class="transaction-box-container">
                <div class="transaction-box">
                    <div class="icon">
                        <img src="../../../assets/bank-building.svg" alt="Bank Details">
                    </div>
                    <div class="content">
                        <small>Amount will be deposited to :</small>
                        <span>Punjab National Bank
              <small>XXXXXXXXX9566</small>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Withdraw</button>
    </footer>
</div> -->
<!-- <div class="transaction-success">
    <section class="transaction">
        <div class="status-container">
            <img src="../../../assets/login-main.png" alt="success">
            <div class="status-content">
                <h3>Success</h3>
                <p>Your transaction is completed successfully.</p>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn primary-btn block-btn">Continue Investing</button>
    </footer>
</div> -->
