<!-- <div class="home">
    <header>
        <div class="logo">
            <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="bell">
            <img src="../../../assets/bell.svg" alt="">
        </div>
    </header>
    <div class="content">
        <div class="box">
            <div class="top">
                <span>Explore Platters</span>
            </div>
            <div class="bottom">
                <div class="text">
                    <p>Disciplined investing improves chances of creating wealth 2X FASTER. Consistency is the key.</p>
                    <button>Explore Platters</button>
                </div>
                <img src="../../../assets/undraw_working_out_6psf.svg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="top">
                <span>Explore Funds</span>
            </div>
            <div class="bottom">
                <div class="text">
                    <p>Check if your client is KYC complaint. If Not, Do the KYC.</p>
                    <button>Explore Mutual Funds</button>
                </div>
                <img src="../../../assets/undraw_Segment_analysis_re_ocsl.svg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="top">
                <span>Start Investing for Client</span>
            </div>
            <div class="bottom">
                <div class="text">
                    <p>Lorem ipsum asfklkasj lkjasdfkasj lkasjdlkn kasflkjasl</p>
                    <button>Start Investing</button>
                </div>
                <img src="../../../assets/undraw_File_searching_re_3evy.svg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="top">
                <span>Check KYC Status</span>
            </div>
            <div class="bottom">
                <div class="text">
                    <button>Check KYC</button>
                </div>
                <img src="../../../assets/undraw_File_searching_re_3evy.svg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="top">
                <span>Client Onboarding</span>
            </div>
            <div class="bottom">
                <div class="text">
                    <button>Start Client Onboarding</button>
                </div>
                <img src="../../../assets/undraw_File_searching_re_3evy.svg" alt="">
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>
                <img src="../../../assets/home.png" alt="">
                <span>Home</span>
            </li>
            <li>
                <img src="../../../assets/dashboard@2x.png" alt="">
                <span>Clients List</span>
            </li>
            <li>
                <img src="../../../assets/growth@2x.png" alt="">
                <span>Distributor Profile</span>
            </li>
        </ul>
    </footer>
</div> -->

<!-- <div class="home2">
    <header>
        <div class="logo">
            <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="bell">
            <img src="../../../assets/bell.svg" alt="">
        </div>
    </header>
    <div class="list">
        <ul>
            <li>Active</li>
            <li>In-progress</li>
            <li>All Clients</li>
        </ul>
        <div class="search-client">
            <div class="client-searchBox">
                <input type="text" placeholder="Search Client">
                <img src="../../../assets/search-icon.png" alt="">
            </div>
            <div class="search-item">
                <div class="box">
                    <div class="box-name">
                        A
                    </div>
                    <span>Aditya Deskmukh</span>
                </div>
                <div class="box">
                    <div class="box-name">
                        A
                    </div>
                    <span>Aditya Deskmukh</span>
                </div>
                <div class="box">
                    <div class="box-name">
                        A
                    </div>
                    <span>Aditya Deskmukh</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>
                <img src="../../../assets/home.png" alt="">
                <span>Home</span>
            </li>
            <li>
                <img src="../../../assets/dashboard@2x.png" alt="">
                <span>Clients List</span>
            </li>
            <li>
                <img src="../../../assets/growth@2x.png" alt="">
                <span>Distributor Profile</span>
            </li>
        </ul>
    </footer>
</div> -->

<!-- <div class="financial-detail">
    <header>
        <div class="logo">
            <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="bell">
            <img src="../../../assets/bell.svg" alt="">
        </div>
    </header>
    <div class="list">
        <ul>
            <li>Basic Details</li>
            <li>Financial Details</li>

        </ul>
        <div class="bank-detail">
            <div class="box">
                <div class="header">
                    <span>Bank Details</span>
                    <i class="far fa-edit"></i>
                </div>
                <div class="content">
                    <div class="row">
                        <span>Bank Name</span>
                        <span>Bank of Maharashtra</span>
                    </div>
                    <div class="row">
                        <span>Branch</span>
                        <span>Ambad IE. Nashik</span>
                    </div>
                    <div class="row">
                        <span>Account Number</span>
                        <span>XXXXXXXXXXXXX4665</span>
                    </div>
                    <div class="row">
                        <span>Account Type</span>
                        <span>Savings</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>
                <img src="../../../assets/home.png" alt="">
                <span>Home</span>
            </li>
            <li>
                <img src="../../../assets/dashboard@2x.png" alt="">
                <span>Clients List</span>
            </li>
            <li>
                <img src="../../../assets/growth@2x.png" alt="">
                <span>Distributor Profile</span>
            </li>
        </ul>
    </footer>
</div> -->

<!-- <div class="basic-detail">
    <header>
        <div class="logo">
            <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="bell">
            <img src="../../../assets/bell.svg" alt="">
        </div>
    </header>
    <div class="list">
        <ul>
            <li>Basic Details</li>
            <li>Financial Details</li>

        </ul>
        <div class="bank-detail">
            <div class="box">
                <div class="header">
                    <span>Personal Details</span>
                    <i class="far fa-edit"></i>
                </div>
                <div class="content">
                    <div class="row">
                        <span>Name</span>
                        <span>Aditya Deshmukh</span>
                    </div>
                    <div class="row">
                        <span>Date of Birth</span>
                        <span>23/03/1995</span>
                    </div>
                    <div class="row">
                        <span>Mobile Number</span>
                        <span>+91 8793531029</span>
                    </div>
                    <div class="row">
                        <span>Email Id</span>
                        <span>aditya@bonvista.in</span>
                    </div>
                    <div class="row">
                        <span>PAN Number</span>
                        <span>BXEPD1233K</span>

                    </div>
                    <div class="row">
                        <span>Address</span>
                        <span>5, Sushil Ashish Apartment (B), B/h Nehete Hospital, Kute Marg, Tidke Colony Nashik Maharashtra 422002</span>
                    </div>
                    <div class="row">
                        <span>ARN</span>
                        <span>1232131</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>
                <img src="../../../assets/home.png" alt="">
                <span>Home</span>
            </li>
            <li>
                <img src="../../../assets/dashboard@2x.png" alt="">
                <span>Clients List</span>
            </li>
            <li>
                <img src="../../../assets/growth@2x.png" alt="">
                <span>Distributor Profile</span>
            </li>
        </ul>
    </footer>
</div> -->
<!-- <div class="client-report-name">
    <app-back-btn>
        <span class="title">Client's Report Name</span>
    </app-back-btn>
    <div class="content">
        <div class="status">
            <div class="row">
                <div class="box">
                    <span>Current</span>
                    <p>$2,730</p>
                </div>
                <div class="box">
                    <span>Invested</span>
                    <p>$1,460</p>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <span>Gain/Loss</span>
                    <p>$2,73,000</p>
                </div>
                <div class="box">
                    <span>Absolute %</span>
                    <p>20.54%</p>
                </div>
                <div class="box">
                    <span>XIRR</span>
                    <p>-20.54%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="holdings">
        <span>Holdings</span>
        <div class="box">
            <div class="row">
                <div class="icon">
                    <img src="../../../assets/booster-icon.PNG" alt="">
                </div>
                <span>Wealth Creation Platter</span>
            </div>
            <div class="row">
                <span>Platters</span>
                <span>One Time</span>
            </div>
            <div class="row">
                <div class="text">
                    <span>Invested Amt.</span>
                    <p>$500</p>
                </div>
                <div class="text">
                    <span>Current Amt.</span>
                    <p>$5,000</p>
                </div>
                <div class="text">
                    <span>Gain/Loss (Abs.)</span>
                    <p>$5,000,00 (15.23%)</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="icon">
                    <img src="../../../assets/booster-icon.PNG" alt="">
                </div>
                <span>Wealth Creation Platter</span>
            </div>
            <div class="row">
                <span>Mutual Funds</span>
                <span>SIP</span>
            </div>
            <div class="row">
                <div class="text">
                    <span>Invested Amt.</span>
                    <p>$500</p>
                </div>
                <div class="text">
                    <span>Current Amt.</span>
                    <p>$5,000</p>
                </div>
                <div class="text">
                    <span>Gain/Loss (Abs.)</span>
                    <p>$5,000,00 (15.23%)</p>
                </div>
            </div>
        </div>
    </div>



</div> -->

<!-- <div class="client-profile-name">
    <app-back-btn>
        <span class="title">Client's Report Name</span>
    </app-back-btn>
    <div class="content">
        <div class="profile">
            <span>Profile</span>
            <div class="box">
                <div class="row">
                    <div class="photo"></div>
                    <div class="text">
                        <p>Aditya Deshmukh</p>
                        <span> M, 50</span>
                    </div>
                </div>
                <div class="row">
                    <div class="text">
                        <span>PAN No.</span>
                        <p>XXXXXXXXXX</p>
                    </div>
                    <div class="text">
                        <span>Phone No.</span>
                        <p>XXXXXXXXXX</p>
                    </div>
                </div>
                <div class="row">
                    <span>Address</span>
                    <p>5, Sushil Ashish Apartment (B), B/h Nehete Hospital, Kute Marg, Tidke Colony Nashik Maharashtra 422002</p>
                    <button>View Details</button>
                </div>
            </div>
        </div>
        <div class="investment-report">
            <span>Investment report</span>
            <div class="box">
                <div class="row">
                    <div class="text">
                        <span>Current</span>
                        <p>$2,730</p>
                    </div>
                    <div class="text">
                        <span>Invested</span>
                        <p>$1,460</p>
                    </div>

                </div>
                <div class="row">
                    <div class="text">
                        <span>Gain/Loss</span>
                        <p>$2,73,000</p>
                    </div>
                    <div class="text">
                        <span>Absolute %</span>
                        <p>20.54%</p>
                    </div>
                    <div class="text">
                        <span>XIRR</span>
                        <p>-20.54%</p>
                    </div>
                </div>
                <div class="row">
                    <button>
                    View Report
                  </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="client-profile">
    <app-back-btn>
        <span class="title">Client Profile</span>
    </app-back-btn>
    <div class="list">
        <ul>
            <li>Basic Details</li>
            <li>Financial Details</li>

        </ul>
    </div>
    <div class="bank-detail">
        <div class="box">
            <div class="header">
                <span>Bank Details</span>
                <span> <i class="far fa-edit"></i> Edit</span>
            </div>
            <div class="content">
                <div class="row">
                    <span>Bank Name</span>
                    <span>Bank of Maharashtra</span>
                </div>
                <div class="row">
                    <span>Branch</span>
                    <span>Ambad IE. Nashik</span>
                </div>
                <div class="row">
                    <span>Account Number</span>
                    <span>XXXXXXXXXXXXX4665</span>
                </div>
                <div class="row">
                    <span>Account Type</span>
                    <span>Savings</span>
                </div>
            </div>
        </div>
    </div>

    <div class="nominee-detail">
        <div class="box">
            <div class="header">
                <span>Bank Details</span>
                <span> <i class="far fa-edit"></i> Edit</span>

            </div>
            <div class="content">
                <div class="row">
                    <span>First Nominee</span>
                    <span>Aditya Rajesh Deshmukh</span>
                </div>
                <div class="row">
                    <span>First Nominee %</span>
                    <span>50%</span>
                </div>
                <div class="row">
                    <span>Guardian</span>
                    <span>Rajesh Dattatray Deshmukh</span>
                </div>
                <div class="row">
                    <span>Second Nominee</span>
                    <span>Rajesh Dattatray Deshmukh</span>
                </div>
                <div class="row">
                    <span>Second Nominee %</span>
                    <span>50%</span>
                </div>
            </div>
        </div>
    </div>

</div> -->

<!-- <div class="client-profile2">
    <app-back-btn>
        <span class="title">Client Profile</span>
    </app-back-btn>
    <div class="list">
        <ul>
            <li>Basic Details</li>
            <li>Financial Details</li>

        </ul>
    </div>
    <div class="bank-detail">
        <div class="bank-detail">
            <div class="box">
                <div class="header">
                    <span>Personal Details</span>
                    <i class="far fa-edit"></i>
                </div>
                <div class="content">
                    <div class="row">
                        <span>Name</span>
                        <span>Aditya Deshmukh</span>
                    </div>
                    <div class="row">
                        <span>Date of Birth</span>
                        <span>23/03/1995</span>
                    </div>
                    <div class="row">
                        <span>Mobile Number</span>
                        <span>+91 8793531029</span>
                    </div>
                    <div class="row">
                        <span>Email Id</span>
                        <span>aditya@bonvista.in</span>
                    </div>
                    <div class="row">
                        <span>PAN Number</span>
                        <span>BXEPD1233K</span>

                    </div>
                    <div class="row">
                        <span>Address</span>
                        <span>5, Sushil Ashish Apartment (B), B/h Nehete Hospital, Kute Marg, Tidke Colony Nashik Maharashtra 422002</span>
                    </div>
                    <div class="row">
                        <span>ARN</span>
                        <span>1232131</span>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div> -->
