<!-- <div class="platter">
    <app-header></app-header>
    <app-search></app-search>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>

            <div class="carousel-container">
                <div class="left">
                    <h2 select="title">Platters are composed of curated mutual fund schemes</h2>
                    <p select="about">
                        Now invest in pre-designed combo of highly researched top schemes in one go
                    </p>
                </div>
                <div class="right">
                    <img src="../../../assets/curated-mf.svg">
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="carousel-container">
                <div class="left">
                    <h2 select="title">Platters are composed of curated mutual fund schemes</h2>
                    <p select="about">
                        Now invest in pre-designed combo of highly researched top schemes in one go
                    </p>
                </div>
                <div class="right">
                    <img src="../../../assets/curated-mf.svg">
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>

            <div class="carousel-container">
                <div class="left">
                    <h2 select="title">Platters are composed of curated mutual fund schemes</h2>
                    <p select="about">
                        Now invest in pre-designed combo of highly researched top schemes in one go
                    </p>
                </div>
                <div class="right">
                    <img src="../../../assets/curated-mf.svg">
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>

    <div class="curated-collection">

        <h2>Curated Collections</h2>
        <div class="wrapper">
            <div class="right">
                <div class="content">
                    <div class="left">
                        <img src="../../../assets/good-for-new-investors.svg" alt="">

                    </div>
                    <div class="right">
                        <h3>Ideal For New Investors</h3>
                        <h4>5 Platters</h4>
                        <p>Specially designed with a cautious & <br> balanced approach</p>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <img src="../../../assets/good-for-new-investors.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Ideal For New Investors</h3>
                        <h4>5 Platters</h4>
                        <p>Specially designed with a cautious & <br> balanced approach</p>
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="content">
                    <div class="left">
                        <img src="../../../assets/good-for-new-investors.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Ideal For New Investors</h3>
                        <h4>5 Platters</h4>
                        <p>Specially designed with a cautious & <br> balanced approach</p>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <img src="../../../assets/good-for-new-investors.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Ideal For New Investors</h3>
                        <h4>5 Platters</h4>
                        <p>Specially designed with a cautious & <br> balanced approach</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mutual-funds user-dashboard gap-border">
        <div class="mf-box m-b-1">
            <div class="mf-content">
                <h3>Hand-Picked Platters for you</h3>
                <p>Platters based on your investment Profile &amp; chosen exclusively for you</p>
                <button class="btn primary-btn">Show
                  Platters</button>
            </div>
            <div class="mf-img">
                <img src="../../../assets/hand-picked-platters.svg" alt="Hand-Picked Platters">
            </div>
        </div>
    </div>
    <div class="popular-platters">
        <header>
            <h2>Popular Platters</h2>
            <ul class="dropdown-list">
                <li>3Y Returns <img src="../../../assets/arrows.svg" />
                </li>
            </ul>
        </header>
        <div class="platter-box">
            <div class="icon">
                <img src="../../../assets/popular-platter.svg" alt="">
            </div>
            <div class="platter-content">
                <span>Booster</span>
                <p>Ideal for high risk takers desiring aggressive returns</p>
            </div>
            <div class="platter-info">
                <div class="platter-info-box">
                    <span class="label">Returns</span>
                    <span class="value" style="color:green;">18.56 %</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Ideal Duration</span>
                    <span class="value">7+ Years</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. SIP Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. One time Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
            </div>
        </div>

        <div class="platter-box">
            <div class="icon">
                <img src="../../../assets/popular-platter.svg" alt="">
            </div>
            <div class="platter-content">
                <span>Booster</span>
                <p>Ideal for high risk takers desiring aggressive returns</p>
            </div>
            <div class="platter-info">
                <div class="platter-info-box">
                    <span class="label">Returns</span>
                    <span class="value" style="color:green;">18.56 %</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Ideal Duration</span>
                    <span class="value">7+ Years</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. SIP Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. One time Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
            </div>
        </div>


        <div class="platter-box">
            <div class="icon">
                <img src="../../../assets/popular-platter.svg" alt="">
            </div>
            <div class="platter-content">
                <span>Booster</span>
                <p>Ideal for high risk takers desiring aggressive returns</p>
            </div>
            <div class="platter-info">
                <div class="platter-info-box">
                    <span class="label">Returns</span>
                    <span class="value" style="color:green;">18.56 %</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Ideal Duration</span>
                    <span class="value">7+ Years</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. SIP Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. One time Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
            </div>
        </div>

        <div class="platter-box">
            <div class="icon">
                <img src="../../../assets/popular-platter.svg" alt="">
            </div>
            <div class="platter-content">
                <span>Booster</span>
                <p>Ideal for high risk takers desiring aggressive returns</p>
            </div>
            <div class="platter-info">
                <div class="platter-info-box">
                    <span class="label">Returns</span>
                    <span class="value" style="color:green;">18.56 %</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Ideal Duration</span>
                    <span class="value">7+ Years</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. SIP Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
                <div class="platter-info-box">
                    <span class="label">Min. One time Amount</span>
                    <span class="value">$ 1500.00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="showAll">
        <a href="">Show All</a>
    </div>
</div> -->
<!-- <div class="one-time-payment">
    <app-back-btn>
        <span class="title">One Time Payment</span>
    </app-back-btn>
    <div class="client-detail">
        <span>Client Name</span>
        <div class="content">
            <div class="img-content">
                <img src="../../../assets/good-for-new-investors.svg" alt="">
            </div>
            <div class="text-content">
                <h5>Lorem Ipsum</h5>
                <span class="pan-num">XXX-XXX-XXX PAN</span>
            </div>
        </div>
    </div>
    <div class="make-payment-for">
        <div class="payment-detail">
            <span>Make payment for-</span>
            <div class="content">
                <div class="img-content">
                    <img src="../../../assets/good-for-new-investors.svg" alt="">
                </div>
                <div class="text-content">
                    <h5>ICICI Prudential Value Discovery Fund <br> Growth</h5>

                </div>
            </div>
            <div class="main">
                <form>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/Path 275.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Enter Amount</label>
                            <input type="text" name="amount" id="" placeholder="$ 40.00">
                            <span>Min Amount : <small>$1000</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/Path 275.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Bank Details</label>
                            <small class="bank">Punjab National Bank</small>
                            <small>XXXXXXXXX656</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/Path 275.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Select Payment Method</label>
                        </div>
                    </div>
                    <div class="form-group radio-btn">
                        <label for="share">
              <input type="radio" name="radio" id="share" checked>
              <div class="circle"></div>
              <div class="text">
                <small>Share Link</small>
                <p>Link will be shared with the client through Email and Text <br> Message</p>
              </div>
            </label>
                        <label for="app">
              <input type="radio" name="radio" id="app">
              <div class="circle"></div>
              <div class="text">
                <small>Share Mobile App Link</small>
                <p>Link will be shared to client on mobile app.</p>
              </div>
            </label>
                        <label for="cheque">
              <input type="radio" name="radio" id="cheque">
              <div class="circle"></div>
              <div class="text">
                <small>Submit Cheque</small>
                <p>Take the cheque from client and submit in the Karvy Office</p>
              </div>
            </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-next-btn></app-next-btn>
</div> -->
<!-- <div class="one-time-payment">
    <app-back-btn>
        <span class="title">One Time Payment</span>
    </app-back-btn>
    <div class="client-detail">
        <span>Client Name</span>
        <div class="content">
            <div class="img-content">
                <img src="../../../assets/good-for-new-investors.svg" alt="">
            </div>
            <div class="text-content">
                <h5>Lorem Ipsum</h5>
                <span class="pan-num">XXX-XXX-XXX PAN</span>
            </div>
        </div>
    </div>
    <div class="make-payment-for">
        <div class="payment-detail">
            <span>Make payment for-</span>
            <div class="content">
                <div class="img-content">
                    <img src="../../../assets/good-for-new-investors.svg" alt="">
                </div>
                <div class="text-content">
                    <h5>ICICI Prudential Value Discovery Fund <br> Growth</h5>

                </div>
            </div>
            <div class="main">
                <form>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/Path 275.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Enter Amount</label>
                            <input type="text" name="amount" id="" placeholder="$ 40.00">
                            <span>Min Amount : <small>$1000</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/bank-building.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Bank Details</label>
                            <small class="bank">Punjab National Bank</small>
                            <small>XXXXXXXXX656</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/Path 10789.svg" alt=" ">
                        </div>
                        <div class="content ">
                            <label for=" ">Select Payment Method</label>
                        </div>
                    </div>
                    <div class="form-group radio-btn">
                        <label for="share">
            <input type="radio" name="radio" id="share" checked>
            <div class="circle"></div>
            <div class="text">
              <small>Share Link</small>
              <p>Link will be shared with the client through Email and Text <br> Message</p>
            </div>
          </label>
                        <label for="app">
            <input type="radio" name="radio" id="app">
            <div class="circle"></div>
            <div class="text">
              <small>Share Mobile App Link</small>
              <p>Link will be shared to client on mobile app.</p>
            </div>
          </label>
                        <label for="cheque">
            <input type="radio" name="radio" id="cheque">
            <div class="circle"></div>
            <div class="text">
              <small>Submit Cheque</small>
              <p>Take the cheque from client and submit in the Karvy Office</p>
            </div>
          </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-make-payment></app-make-payment>
</div> -->

<!-- <div class="order-placed">
    <app-back-btn>
        <span class="title">One Time Payment</span>
    </app-back-btn>
    <div class="client-detail">
        <span>Client Name</span>
        <div class="content">
            <div class="img-content">
                <img src="../../../assets/good-for-new-investors.svg" alt="">
            </div>
            <div class="text-content">
                <h5>Lorem Ipsum</h5>
                <span class="pan-num">XXX-XXX-XXX PAN</span>
            </div>
        </div>
    </div>
    <div class="make-payment-for">
        <div class="payment-detail">
            <span>Cheque Order for-</span>
            <div class="content">
                <div class="img-content">
                    <img src="../../../assets/good-for-new-investors.svg" alt="">
                </div>
                <div class="text-content">
                    <h5>ICICI Prudential Value Discovery Fund <br> Growth</h5>
                </div>
            </div>
            <div class="main">
                <form>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/Path 275.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Order Number</label>
                            <small>123123</small>
                        </div>
                    </div>
                    <div class="form-group upload">
                        <div class="content m-b-30">
                            <label for="">Upload Cheque Copy</label>
                            <input type="file" name="" id="">
                        </div>
                        <p>Submit the cheque in Karvy in the following format</p>
                        <div class="text">
                            <p>Name on Cheque </p>
                            <p>: Indian Clearing Corporation Ltd</p>
                        </div>
                        <div class="text">
                            <p>Order Number </p>
                            <p>: 1231231231</p>
                        </div>
                        <div class="text">
                            <p>Broker Code </p>
                            <p>: 1232131</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="cheque-copy">
                            <small>Cheque copy GIF</small>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <app-done-btn></app-done-btn>
</div> -->


<!-- <div class="monthly-sip-payment">
    <app-back-btn>
        <span class="title">Monthly SIP Payment</span>
    </app-back-btn>
    <div class="client-detail">
        <span>Client Name</span>
        <div class="content">
            <div class="img-content">
                <img src="../../../assets/good-for-new-investors.svg" alt="">
            </div>
            <div class="text-content">
                <h5>Lorem Ipsum</h5>
                <span class="pan-num">XXX-XXX-XXX PAN</span>
            </div>
        </div>
    </div>
    <div class="make-payment-for">
        <div class="payment-detail">
            <span>Start Auto Debit for -</span>
            <div class="content">
                <div class="img-content">
                    <img src="../../../assets/good-for-new-investors.svg" alt="">
                </div>
                <div class="text-content">
                    <h5>ICICI Prudential Value Discovery Fund <br> Growth</h5>

                </div>
            </div>
            <div class="main">
                <form>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/Path 275.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Enter Amount</label>
                            <input type="text" name="amount" id="" placeholder="$ 40.00">
                            <span>Min Amount : <small>$1000</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/bank-building.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Bank Details</label>
                            <small class="bank">Punjab National Bank</small>
                            <small>XXXXXXXXX656</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="img">
                            <img src="../../../assets/calendar.svg" alt="">
                        </div>
                        <div class="content">
                            <label for="">Select SIP Date</label>
                            <small class="bank">1st of the month</small>
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                    <div class="form-group sip-flex">
                        <div class="content">
                            <p>1st SIP Payment</p>
                            <small>Today</small>
                        </div>
                        <div class="content">
                            <p>Next SIP Payment </p>
                            <small>01/05/2021</small>
                        </div>
                    </div>
                    <div class="form-group no-border-bottom">
                        <div class="img">
                            <img src="../../../assets/Path 10789.svg" alt=" ">
                        </div>
                        <div class="content ">
                            <label for=" ">Select Payment Method</label>
                        </div>
                    </div>
                    <div class="form-group radio-btn">
                        <label for="share">
          <input type="radio" name="radio" id="share" checked>
          <div class="circle"></div>
          <div class="text">
            <small>Share Link</small>
            <p>Link will be shared with the client through Email and Text <br> Message</p>
          </div>
        </label>
                        <label for="app">
          <input type="radio" name="radio" id="app">
          <div class="circle"></div>
          <div class="text">
            <small>Share Mobile App Link</small>
            <p>Link will be shared to client on mobile app.</p>
          </div>
        </label>
                        <label for="cheque">
          <input type="radio" name="radio" id="cheque">
          <div class="circle"></div>
          <div class="text">
            <small>Submit Cheque</small>
            <p>Take the cheque from client and submit in the Karvy Office</p>
          </div>
        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-make-payment></app-make-payment>
</div> -->
<!-- <div class="success">
    <app-back-btn>
        <span class="title">Back</span>
    </app-back-btn>
    <div class="box">
        <img src="../../../assets/mobile.svg" alt="">
        <h2 class="title">Success</h2>
        <p>Your transaction is completed <br> successfully.</p>
    </div>
    <app-continue-investing-btn></app-continue-investing-btn>
</div> -->

<!-- <div class="search">
    <div class="search-box">
        <i class="fas fa-chevron-left"></i>
        <input type="text" name="" placeholder="Search Platters">
    </div>
</div> -->

<!-- <div class="wrapper-for-new">
    <app-back-btn>
        <span class="title">Ideal for New Investors</span>
    </app-back-btn>
    <div class="ideal-for-new-investors">
        <p>If you are new to MF investing, this space is for you. Platters here are specially designed with a cautious & balanced approach</p>
        <div class="content">
            <div class="menus">
                <div class="box">
                    1 M
                </div>
                <div class="box">3M</div>
                <div class="box">6M</div>
                <div class="box">1Y</div>
                <div class="box">3Y</div>
                <div class="box">5Y</div>
                <div class="box">MAX</div>
            </div>
            <div class="boosters">
                <div class="booster-box">
                    <div class="icon">
                        <img src="../../../assets/popular-platter.svg" alt="">
                    </div>
                    <div class="platter-content">
                        <span>Booster</span>
                        <p>Ideal for high risk takers desiring aggressive returns</p>
                    </div>
                    <div class="platter-info">
                        <div class="platter-info-box">
                            <span class="label">Returns</span>
                            <span class="value" style="color:green;">18.56 %</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Ideal Duration</span>
                            <span class="value">7+ Years</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. SIP Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. One time Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                    </div>
                </div>
                <div class="booster-box">
                    <div class="icon">
                        <img src="../../../assets/popular-platter.svg" alt="">
                    </div>
                    <div class="platter-content">
                        <span>Booster</span>
                        <p>Ideal for high risk takers desiring aggressive returns</p>
                    </div>
                    <div class="platter-info">
                        <div class="platter-info-box">
                            <span class="label">Returns</span>
                            <span class="value" style="color:green;">18.56 %</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Ideal Duration</span>
                            <span class="value">7+ Years</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. SIP Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. One time Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-short-by></app-short-by>
</div> -->

<!-- <div class="explore-platter">
    <app-back-btn>
        <span class="title">Ideal for New Investors</span>
    </app-back-btn>
    <div class="explore-platter-content">
        <p>Invest easily in researched combination of MF schemes built around investing needs. Platters are composed of asset classes such as Equity, Debt and Gold</p>
        <div class="content">
            <div class="menus">
                <div class="box">
                    1 M
                </div>
                <div class="box">3M</div>
                <div class="box">6M</div>
                <div class="box">1Y</div>
                <div class="box">3Y</div>
                <div class="box">5Y</div>
                <div class="box">MAX</div>
            </div>
            <div class="boosters">
                <div class="booster-box">
                    <div class="icon">
                        <img src="../../../assets/popular-platter.svg" alt="">
                    </div>
                    <div class="platter-content">
                        <span>Booster</span>
                        <p>Ideal for high risk takers desiring aggressive returns</p>
                    </div>
                    <div class="platter-info">
                        <div class="platter-info-box">
                            <span class="label">Returns</span>
                            <span class="value" style="color:green;">18.56 %</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Ideal Duration</span>
                            <span class="value">7+ Years</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. SIP Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. One time Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                    </div>
                </div>
                <div class="booster-box">
                    <div class="icon">
                        <img src="../../../assets/popular-platter.svg" alt="">
                    </div>
                    <div class="platter-content">
                        <span>Booster</span>
                        <p>Ideal for high risk takers desiring aggressive returns</p>
                    </div>
                    <div class="platter-info">
                        <div class="platter-info-box">
                            <span class="label">Returns</span>
                            <span class="value" style="color:green;">18.56 %</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Ideal Duration</span>
                            <span class="value">7+ Years</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. SIP Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. One time Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-filter-sort-btn></app-filter-sort-btn>
</div> -->

<!-- <div class="explore-platter2">
    <app-back-btn>
        <span class="title">Ideal for New Investors</span>
    </app-back-btn>
    <div class="explore-platter-content">
        <p>Invest easily in researched combination of MF schemes built around investing needs. Platters are composed of asset classes such as Equity, Debt and Gold</p>
        <div class="content">
            <div class="menus flex-center-around">
                <div class="box">
                    1 Y
                </div>
                <div class="box">3Y</div>
                <div class="box">5Y</div>
                <div class="box">10Y</div>

            </div>
            <div class="boosters">
                <div class="booster-box">
                    <div class="icon">
                        <img src="../../../assets/popular-platter.svg" alt="">
                    </div>
                    <div class="platter-content">
                        <span>Booster</span>
                        <p>Ideal for high risk takers desiring aggressive returns</p>
                    </div>
                    <div class="platter-info">
                        <div class="platter-info-box">
                            <span class="label">Returns</span>
                            <span class="value" style="color:green;">18.56 %</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Ideal Duration</span>
                            <span class="value">7+ Years</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. SIP Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. One time Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                    </div>
                </div>
                <div class="booster-box">
                    <div class="icon">
                        <img src="../../../assets/popular-platter.svg" alt="">
                    </div>
                    <div class="platter-content">
                        <span>Booster</span>
                        <p>Ideal for high risk takers desiring aggressive returns</p>
                    </div>
                    <div class="platter-info">
                        <div class="platter-info-box">
                            <span class="label">Returns</span>
                            <span class="value" style="color:green;">18.56 %</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Ideal Duration</span>
                            <span class="value">7+ Years</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. SIP Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                        <div class="platter-info-box">
                            <span class="label">Min. One time Amount</span>
                            <span class="value">$ 1500.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-filter-sort-btn></app-filter-sort-btn>
</div> -->

<!-- <div class="platter-detail">
    <app-back-btn>
        <span class="title">Platter Details</span>
    </app-back-btn>
    <div class="defender">
        <div class="top">
            <div class="img">
                <img src="../../../assets/popular-platter.svg" alt="">
            </div>
            <div class="content">
                <div class="text">
                    <span>Defender Pro</span>
                    <p>Ideal for high risk takers desiring aggressive <br> returns</p>
                </div>
                <div class="bookmary">
                    <img src="../../../assets/bookmark.svg" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <ul>
                <li>Overview</li>
                <li>Composition</li>
                <li>Analysis</li>
                <li>Description</li>
            </ul>
        </div>
    </div>
    <div class="info">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo</p>
        <a href="">Read More</a>
    </div>
    <div class="platter-info">
        <span>Platters Information</span>
        <div class="content">
            <div class="left">
                <p>Ideal Duration</p>
                <span>5+ Years</span>
            </div>
            <div class="right">
                <p>Risk</p>
                <span class="bluecolor">Moderately High</span>
            </div>
        </div>
    </div>
    <div class="performance">
        <span>Performance</span>
        <div class="content">
            <div class="left">
                <span>Value of $1,00,000</span>
                <p>₹10,450</p>
            </div>
            <div class="right">
                <span>7Y 7M return</span>
                <p class="greenColor"><i class="fas fa-caret-down"></i> 18.56%</p>
            </div>
        </div>
    </div>
    <app-sip-onetime-btn></app-sip-onetime-btn>
</div> -->

<!-- <div class="platter-detail-compo">
    <app-back-btn>
        <span class="title">Platter Details</span>
    </app-back-btn>
    <div class="defender">
        <div class="top">
            <div class="img">
                <img src="../../../assets/popular-platter.svg" alt="">
            </div>
            <div class="content">
                <div class="text">
                    <span>Defender Pro</span>
                    <p>Ideal for high risk takers desiring aggressive <br> returns</p>
                </div>
                <div class="bookmary">
                    <img src="../../../assets/bookmark.svg" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <ul>
                <li>Overview</li>
                <li>Composition</li>
                <li>Analysis</li>
                <li>Description</li>
            </ul>
        </div>
    </div>

    <div class="platter-composition">
        <span>Platters Composition</span>
        <div class="radios">
            <div class="radio-btn">
                <input type="radio" name="radio" id="sip"><label for="sip">SIP</label>
            </div>
            <div class="radio-btn">

                <input type="radio" name="radio" id="one"><label for="one">One Time</label>
            </div>
        </div>
        <div class="amount">
            <div class="first">
                <span>Enter Amount</span>
                <p><span>$</span> 2000.00</p>
            </div>
            <div class="second">
                <input type="range" name="" id="">
            </div>
            <div class="third">
                <span>Min. amount is $2,000</span>
            </div>
        </div>
        <div class="scheme">
            <div class="heading">
                <span>Schemes Proposed </span>
                <div class="circle">
                    5
                </div>
                <span>Amount</span>
            </div>
        </div>
        <div class="list">
            <div class="box">
                <div class="content">
                    <div class="top">
                        <img src="../../../assets/Path 275.svg" alt="">
                        <p>Aditya Birla Sun Life Fixed Term <br> Plan Series Ex Dividend Payout</p>
                        <span>$ 2000</span>
                    </div>
                    <div class="bottom">
                        <p>Equity</p>
                        <p>Sector - Finacial Services</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <div class="top">
                        <img src="../../../assets/Path 275.svg" alt="">
                        <p>Aditya Birla Sun Life Fixed Term <br> Plan Series Ex Dividend Payout</p>
                        <span>$ 2000</span>
                    </div>
                    <div class="bottom">
                        <p>Equity</p>
                        <p>Sector - Finacial Services</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <div class="top">
                        <img src="../../../assets/Path 275.svg" alt="">
                        <p>Aditya Birla Sun Life Fixed Term <br> Plan Series Ex Dividend Payout</p>
                        <span>$ 2000</span>
                    </div>
                    <div class="bottom">
                        <p>Equity</p>
                        <p>Sector - Finacial Services</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <div class="top">
                        <img src="../../../assets/Path 275.svg" alt="">
                        <p>Aditya Birla Sun Life Fixed Term <br> Plan Series Ex Dividend Payout</p>
                        <span>$ 2000</span>
                    </div>
                    <div class="bottom">
                        <p>Equity</p>
                        <p>Sector - Finacial Services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="asset">
        <span>Asset Allocation</span>
    </div>
    <app-sip-onetime-btn></app-sip-onetime-btn>
</div> -->

<!-- <div class="description">
    <app-back-btn>
        <span class="title">Platter Details</span>
    </app-back-btn>
    <div class="defender">
        <div class="top">
            <div class="img">
                <img src="../../../assets/popular-platter.svg" alt="">
            </div>
            <div class="content">
                <div class="text">
                    <span>Defender Pro</span>
                    <p>Ideal for high risk takers desiring aggressive <br> returns</p>
                </div>
                <div class="bookmary">
                    <img src="../../../assets/bookmark.svg" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <ul>
                <li>Overview</li>
                <li>Composition</li>
                <li>Analysis</li>
                <li>Description</li>
            </ul>
        </div>
    </div>
    <div class="about-platter">
        <span>About Platter</span>
        <div class="content">
            <span>Simply Speaking</span>
            <p> Visit the Financial Strength / Goal Planning section to understand how much Emergency Fund is required for your family. Bit Technical This Platter invests in Ultra Short Term Funds which expects very low volatility and a rare draw-down. Whole
                allocation of this is Platter is invested for parking your money for a short period of time.</p>
            <p>Visit the Financial Strength / Goal Planning section to understand how much Emergency Fund is required for your family.</p>
            <span>Bit Technical</span>
            <p>Bit Technical This Platter invests in Ultra Short Term Funds which expects very low volatility and a rare draw-down. Whole allocation of this is Platter is invested for parking your money for a short period of time.</p>
        </div>

    </div>


    <app-sip-onetime-btn></app-sip-onetime-btn>
</div> -->

<!-- <div class="scheme-detail">
    <app-back-btn>
        <span class="title">Scheme Details</span>
    </app-back-btn>
    <div class="list">
        <div class="box">
            <div class="content">
                <div class="top">
                    <img src="../../../assets/Path 275.svg" alt="">
                    <p>Aditya Birla Sun Life Fixed Term Plan Series Ex Dividend Payout</p>

                </div>
                <div class="bottom">
                    <div class="text">
                        <p>Equity</p>
                        <p>Mutli-Cap</p>
                    </div>
                    <img src="../../../assets/bookmark.svg" alt="">
                </div>
            </div>
        </div>
        <div class="min-sip">
            <div class="box">
                <span>Min SIP</span>
                <p>₹32.48</p>
            </div>
            <div class="box">
                <span>Min. One-time</span>
                <p>₹ 1,000</p>
            </div>
            <div class="box">
                <span>Risk</span>
                <p class="bluecolor">Moderately High</p>
            </div>
        </div>
    </div>
    <div class="key-info">
        <span>Key Information</span>
        <div class="content">
            <div class="top">
                <img src="../../../assets/Path 275.svg" alt="">
                <p>Aditya Birla Sun Life Fixed Term Plan Series <br> Ex Dividend Payout</p>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="box">
                        <span>Sharp Ratio</span>
                        <p>0.56</p>
                    </div>
                    <div class="box">
                        <span>Beta</span>
                        <p>1.03</p>
                    </div>
                </div>
                <div class="right">
                    <div class="box">
                        <span>Std Deviation</span>
                        <p>34.48%</p>
                    </div>
                    <div class="box">
                        <span>Alpha</span>
                        <p>3.5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fund-holding">
        <span>Fund Holding</span>
        <div class="content">
            <div class="left">
                <span>Scheme Fund Size</span>
                <p>₹ 32.48 Cr</p>
            </div>
            <div class="right">
                <span>On date</span>
                <p>15 June 2021</p>
            </div>
        </div>
        <div class="company">
            <div class="heading">
                <span>Company</span>
                <span>Allocation</span>
            </div>
            <div class="box">
                <div class="line">
                    <p>Aditya Birla Sun Life</p>
                    <div class="track">
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="text">
                    <p>7.30%</p>
                </div>
            </div>
            <div class="box">
                <div class="line">
                    <p>Kotak Mahindra</p>
                    <div class="track">
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="text">
                    <p>8.15%</p>
                </div>
            </div>
            <div class="box">
                <div class="line">
                    <p>ICICI Bank Ltd.</p>
                    <div class="track">
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="text">
                    <p>6.30%</p>
                </div>
            </div>
            <div class="box">
                <div class="line">
                    <p>Infosys Ltd./p>
                        <div class="track">
                            <div class="fill"></div>
                        </div>
                </div>
                <div class="text">
                    <p>9.40%</p>
                </div>
            </div>
            <div class="box">
                <div class="line">
                    <p>Reliance Industries Ltd.</p>
                    <div class="track">
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="text">
                    <p>8.32%</p>
                </div>
            </div>
            <a href="">See More</a>
        </div>
    </div>
    <div class="fun-manager">
        <span>Fund Manager</span>
        <div class="content">
            <span>Manager</span>
            <p>Taher Badshah</p>
        </div>
        <div class="content">
            <span>Manager</span>
            <p>Dhimant Kothari</p>
        </div>
    </div>
    <div class="scheme-info">
        <span>Scheme Information</span>
        <div class="content">
            <div class="left">
                <span>Asset Management <br> Company (AMC)</span>
            </div>
            <div class="right">
                <p>Aditya Birla Sun Life Fixed Term <br> Plan Series Ex Dividend Payout</p>
            </div>
        </div>
        <div class="content">
            <div class="left">
                <span>Inception Date</span>
            </div>
            <div class="right">
                <p>Dec 29, 2020</p>
            </div>
        </div>
        <div class="content">
            <div class="left">
                <span>Benchmark</span>
            </div>
            <div class="right">
                <p>Aditya Birla 50 TR INR</p>
            </div>
        </div>
    </div>
    <app-sip-onetime-btn class="bottom-btn"></app-sip-onetime-btn>
</div> -->

<!-- <div class="sell">
    <app-back-btn>
        <span class="title">Sell</span>
    </app-back-btn>
    <div class="client-detail">
        <span>Client Name</span>
        <div class="content">
            <div class="img-content">
                <img src="../../../assets/good-for-new-investors.svg" alt="">
            </div>
            <div class="text-content">
                <h5>Lorem Ipsum</h5>
                <span class="pan-num">XXX-XXX-XXX PAN</span>
            </div>
        </div>
    </div>
    <div class="sell-for">
        <div class="payment-detail">
            <div class="content">
                <div class="img-content">
                    <img src="../../../assets/good-for-new-investors.svg" alt="">
                </div>
                <div class="text-content">
                    <h5>ICICI Prudential Value Discovery Fund <br> Growth</h5>
                </div>
            </div>
            <div class="current">
                <div class="row row-1">
                    <div class="top">
                        <span>Current Validation</span>
                        <p>₹ 25,000.00</p>
                    </div>
                    <div class="bottom">
                        <div class="text">
                            <span>
                      Total units
                    </span>
                            <p>100.656</p>
                        </div>
                        <div class="text">
                            <span>
                      Redeemable Units
                    </span>
                            <p>54.566</p>
                        </div>
                    </div>
                </div>
                <div class="row row-2">
                    <div class="top">

                        <img src="../../../assets/Path 275.svg" alt="">

                        <div class="text">
                            <span>Enter Redemption Amount</span>
                            <p>$ 40.00</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <input type="checkbox" name="" id=""> <label for="">Redeem Full Amount</label>

                        </div>
                        <div class="right">
                            <span>Min redemption amount - $ 1000.00</span>
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="left">
                        <img src="../../../assets/Path 275.svg" alt="">
                    </div>
                    <div class="right">
                        <span>Amount will be deposited to :</span>
                        <p>Punjab National Bank</p>
                        <span>20******9566</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <app-withdraw></app-withdraw>
</div> -->
